.main-bg {
  background: #292929;
}
.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border-radius: 5px;
  background: #292929;
}
h1 {
  color: red;
}
.tag-container {
  min-width: 60%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 15px !important;
  height: 52px;
  margin: 2px;
  padding: 10px;
}

.tag {
  display: flex;
  align-items: center;
  margin: 2px;
  padding: 10px !important;
  border: 1px solid #437772;
  border-radius: 15px;
  height: 30px;
  /* margin: 2px 5px 2px 0px; */
  color: white;
}

.tag-container input {
  border: none;
  flex: 1;
  outline: none;
  padding: 5px;
  background: #292929;
  color: white;
}
.tag span {
  /* margin-left: 5px; */
  cursor: pointer;
}
