@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
  box-sizing: border-box;
}

.react-flow__node-default,
.react-flow__node-input,
.react-flow__node-output {
  padding: 0px !important;
  margin: 0px !important;
  width: 0vw;
  background-color: transparent !important;
  border: none !important;
  border-radius: 4px !important;
}
